html, body {
    height: 100%;
}
#container {
    height: 100%;
}
body{
    background-color: #c4d4ca;
}
#middle-row {
    height: 70%;
}
#bottom-row {
    height: 18%;
}
#top-row{
    height: 12%;
    background-image: url(desertpan.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
/*  height: 108px;*/
}

#top-row h1{
  margin-left: 35px
}

#top-row p{
  margin-left: 35px;
}
#selector-wrapper {
    height: 100%;
}
#dataSelector {
    height: 100%;
    margin-top: 10px;
    border: 1px solid black;
    margin-left: 18px;
    overflow-y: scroll;
}
#dataSelector h3{
    /*margin-left: 20px;*/
}

#dataSelector p{
    /*margin-left: 20px;*/
    box-shadow: 2px;
    overflow-wrap: 
}

.dataSet {
	cursor: pointer;
	margin-top: 8px;
    padding: 5px;
}
/*.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
*/
#graph-well {
	height: 100%;
    background-color: #ddd;
    border: 8px solid #c4d4ca;
    border-radius: 12px;
/*    width: 65%;
*/    margin-top: 10px;
}

#dictionary-panel {
    margin-left: 18px;
}

#caption {
    width: 99%;
    height: 126px;
    font-size: 24px;
    position: relative;
    right: 8px;
    resize: vertical;
}


#table-well {
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #ddd;
    border: 8px solid #c4d4ca;
    border-radius: 12px;
    margin-top: 10px;
}

#data-table {
    align-content: center;
    text-align: center;
}
table {
    background-color: white;
    text-align: center;
}
th {
    font-size: 10px;
    line-height: 1.2;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 1px;
}

#graphBtn {
    margin-top: 36px;
    margin-left: 30px;
}

#pdfButton {
    height: 108px;
    width: 100%;
    border-radius: 12px;
    position: relative;
    right: 24px;
    top: 8px;
}


/* Tooltip text */
/*.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
*/
    /* Position the tooltip text */
/*    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
*/
    /* Fade in tooltip */
/*    opacity: 0;
    transition: opacity 1s;
}*/

/* Tooltip arrow */
/*.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}*/
