body{
    background-color:#c4d4ca;
}

#banner{
  background-image: url(desertpan.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100px;
}

#banner h1{
  margin-left: 35px
}

#banner p{
  margin-left: 35px;
}

#dataSelector h3{
    margin-left: 20px;
}

#dataSelector p{
    margin-left: 20px;
}

.dataSet {
	cursor: pointer;
	margin-top: 18px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

#graph-well {
	height: 525px;
    background-color: #ddd;
    border: 8px solid #c4d4ca;
    border-radius: 12px;
    width: 65%;
    margin-top: 10px;
}

#dictionary-panel {
    top: -8px;
}

#caption {
    border-left: 8px solid #c4d4ca;
    border-right: 8px solid #c4d4ca;
    border-top: none;
    border-bottom: none;
    width: 65%;
    height: 126px;
    font-size: 24px;
    top: -8px;
    resize: vertical;
}


#table-well {
/*    margin-top: 18px;
*//*  min-height: 525px;
*/    
    height: 525px;
    max-height: 525px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #ddd;
    border: 8px solid #c4d4ca;
    border-radius: 12px;
    margin-top: 10px;
}

#data-table {
    align-content: center;
    text-align: center;
}
table {
    background-color: white;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

#graphBtn {
    margin-top: 36px;
    margin-left: 30px;
}

#pdfButton {
    height: 108px;
    border-radius: 12px;
    border: 8px solid #c4d4ca;


}


/* Tooltip text */
/*.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
*/
    /* Position the tooltip text */
/*    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
*/
    /* Fade in tooltip */
/*    opacity: 0;
    transition: opacity 1s;
}*/

/* Tooltip arrow */
/*.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}*/
